body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.title {
    font-size: 24px;
    color: #333;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.justify-end {
    justify-content: end;
}

.w-4p {
    width: 4%;
}

.w-5p {
    width: 5%;
}

.w-20p {
    width: 20%;
}

.w-30p {
    width: 30%;
}

.w-50p {
    width: 50%;
}

.w-70p {
    width: 70%;
}

.h-32p {
    height: 32.5%;
}

.h-50p {
    height: 50%;
}

.h-60p {
    height: 60%;
}

.h-80p {
    height: 80%;
}

.bg-arcade {
    background-color: #FDB9AA;
    color: #D66D50;
}

.bg-freeplay {
    background-color: #98E3DB;
    color: #33767B;
}

.bg-leaderboard {
    background-color: #D66D50;
    color: #FDB9AA;
}

.bg-loadgame {
    background-color: #FFAA80;
    color: #D66D50;
}

.bg-exit {
    background-color: #FF5580;
    color: #FDB9AA;
}

.rounded-30 {
    border-radius: 30px;
}

.h-100p {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.w-100p {
    width: 100%;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-30 {
    margin: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-60 {
    margin-left: 60px;
}

.button-container {
    margin-top: 100px; 
}

.visuals, .visuals-freeplay, .visuals-loadgame, .visuals-exit, .visuals-leaderboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
    overflow: hidden; 
    height: 60px; 
    position: relative;
}

.pacman {
    transform: rotate(45deg);
    height: 60px; 
}

.ai-gaming {
    transform: rotate(35deg);
    height: 60px; 
    position: absolute;
    right: 0;
}

.home {
    height: 50px; 
}

.street {
    height: 50px; 
}

.puzzle {
    height: 50px; 
}

.floppy-disk {
    height: 50px; 
}

.logout {
    height: 50px; 
}

.leaderboard {
    height: 50px; 
}

/* Save Game Page */

.save-container {
    background-color: #98E3DB;
    border: 2px solid #015A6C;
    border-radius: 30px;
    padding: 40px;
    width: 400px;
    text-align: center;
    color: #015A6C;
}

.save-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.save-input-container {
    margin-bottom: 20px;
}

.save-input-container label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
}

.save-input {
    background-color: #FDB9AA;
    border: 2px solid #33767B;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    font-size: 16px;
}

.save-button {
    background-color: #015A6C;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #014a57;
}

/*input name page*/

.input-container {
    background-color: #98E3DB;
    border: 2px solid #015A6C;
    border-radius: 30px;
    padding: 40px;
    width: 400px;
    text-align: center;
    color: #015A6C;
}

.input-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.input-label-container {
    margin-bottom: 20px;
}

.input-label-container label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
}

.input-box {
    background-color: #FDB9AA;
    border: 2px solid #33767B;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    font-size: 16px;
}

.input-button {
    background-color: #015A6C;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.input-button:hover {
    background-color: #014a57;
}

/*end game page*/

body{overflow: hidden;}

.game-over-title {
    font-size: 66px;
    color: #015A6C;
    margin-top: 10px;
}

.p-150 {
    padding: 150px;
}

.h-100vh {
    height: 100vh;
}


.endgame-container {
    background-color: #98E3DB;
    border: 2px solid #015A6C;
    border-radius: 30px;
    padding: 40px;
    width: 400px;
    text-align: center;
    color: #015A6C;
}

.endgame-score {
    font-size: 24px;
    margin-bottom: 20px;
    color: #015A6C;
}

.endgame-button {
    background-color: #015A6C;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
    width: 400px;
    height: 50px;
}

.endgame-button:hover {
    background-color: #014a57;
}

/*leaderboard*/
.leaderboard-title {
    font-size: 66px;
    color: #015A6C;
    margin-top: 20px;
    text-align: center;
}

.p-150 {
    padding: 150px;
}

.h-100vh {
    height: 100vh;
}

.leaderboard-container {
    background-color: #98E3DB;
    border: 2px solid #015A6C;
    border-radius: 30px;
    padding: 20px;
    width: 600px;
    height: 500px;
    overflow-y: auto;
    color: #015A6C;
    margin-bottom: 20px;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    text-align: left;
}

.leaderboard-table th {
    background-color: #015A6C;
    color: #FFFFFF;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #FDB9AA;
}

.your-score-container {
    background-color: #98E3DB;
    border: 2px solid #015A6C;
    border-radius: 30px;
    padding: 20px;
    width: 600px;
    text-align: left;
    color: #015A6C;
    font-size: 50px;
    font-weight: bolder;
    text-align: center; 
    position: relative;
  }

  /*leaderboard*/
.leaderboard-title {
    font-size: 66px;
    color: #015A6C;
    margin-top: 20px;
    text-align: center;
}



.leaderboard-container {
    background-color: #98E3DB;
    border: 2px solid #015A6C;
    border-radius: 30px;
    padding: 20px;
    width: 600px;
    height: 500px;
    overflow-y: auto;
    color: #015A6C;
    margin-bottom: 20px;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    text-align: left;
}

.leaderboard-table th {
    background-color: #015A6C;
    color: #FFFFFF;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #FDB9AA;
}

.your-score-container {
    background-color: #98E3DB;
    border: 2px solid #015A6C;
    border-radius: 30px;
    padding: 20px;
    width: 600px;
    text-align: left;
    color: #015A6C;
    margin-bottom: 10px; 
}

.your-score-container p {
    margin: 0;
}

.leaderboard.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.leaderboard-button {
    background-color: #015A6C;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    width: 400px;
}

.leaderboard-button:hover {
    background-color: #014a57;
}

/* Save Game Page Styles */
.save-game-page {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.save-game-header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.save-game-title {
    font-size: 24px;
    color: #333;
}

.save-container {
    background-color: #98E3DB;
    border: 2px solid #015A6C;
    border-radius: 30px;
    padding: 40px;
    width: 400px;
    text-align: center;
    color: #015A6C;
}

.save-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.save-input-container {
    margin-bottom: 20px;
}

.save-input-container label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
}

.save-input {
    background-color: #FDB9AA;
    border: 2px solid #33767B;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    font-size: 16px;
}

.save-button {
    background-color: #015A6C;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #014a57;
}

/*input name page*/

.input-container {
    background-color: #98E3DB;
    border: 2px solid #015A6C;
    border-radius: 30px;
    padding: 40px;
    width: 400px;
    text-align: center;
    color: #015A6C;
}

.input-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.input-label-container {
    margin-bottom: 20px;
}

.input-label-container label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
}

.input-box {
    background-color: #FDB9AA;
    border: 2px solid #33767B;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    font-size: 16px;
}

.input-button {
    background-color: #015A6C;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.input-button:hover {
    background-color: #014a57;
}

.load-game-container {
    font-family: Arial, sans-serif;
    background-color: #e0f7f9;
    width: 70%;
    margin: 50px auto;
    background-color: #c5f2f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.load-game-container .header {
    background-color: #c5f2f4;
    color: black;
    padding: 15px;
    font-size: 20px;
    text-align: left;
    border-bottom: 2px solid #a3e4e6;
}

.load-game-container .content {
    padding: 20px;
    text-align: center;
}

.load-game-container h1 {
    color: #0a667a;
    font-size: 2em;
    margin-bottom: 20px;
}

.load-game-container .save-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-game-container .save-item {
    display: flex;
    align-items: center;
    background-color: #ffd1cc;
    border: 2px solid #a3e4e6;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 80%;
    padding: 10px;
}

.load-game-container .save-type {
    flex: 1;
    text-align: left;
    font-size: 1.2em;
    margin-left: 10px;
}

.load-game-container .save-name {
    flex: 2;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.load-game-container .btn {
    background-color: #0a667a;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.load-game-container .btn:hover {
    background-color: #084a57;
}

.load-game-container .btn.load {
    margin-right: 10px;
}

.load-game-container .btn.edit {
    margin-left: 10px;
}

/*login page*/
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-gray {
    background-color: #f0f0f0;
}

.bg-white {
    background-color: #ffffff;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.w-100p {
    width: 100%;
}

.p-10 {
    padding: 10px;
}

.rounded-5 {
    border-radius: 5px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.h-100vh {
    height: 100vh;
}

.relative-container {
    position: relative;
    width: 100%;
    max-width: 400px; /* or your preferred width */
}

.es-header {
    color: #015A6C;
    font-weight: 900;
    font-size: 55px;
    position: absolute;
    top: 80px; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}

.button-2 {
    background-color: #015A6C;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}