body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.title {
    font-size: 24px;
    color: #333;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.w-20p {
    width: 20%;
}

.w-30p {
    width: 30%;
}

.w-50p {
    width: 50%;
}

.w-70p {
    width: 70%;
}

.h-32p {
    height: 32.5%;
}

.h-50p {
    height: 50%;
}

.h-80p {
    height: 80%;
}

.bg-arcade {
    background-color: #FDB9AA;
    color: #D66D50;
}

.bg-freeplay {
    background-color: #98E3DB;
    color: #33767B;
}

.bg-leaderboard {
    background-color: #D66D50;
    color: #FDB9AA;
}

.bg-loadgame {
    background-color: #FFAA80;
    color: #D66D50;
}

.bg-exit {
    background-color: #FF5580;
    color: #FDB9AA;
}

.rounded-30 {
    border-radius: 30px;
}

.h-100p {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.w-100p {
    width: 100%;
}

.m-10 {
    margin: 10px;
}

.m-30 {
    margin: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-60 {
    margin-left: 60px;
}

.button-container {
    margin-top: 100px; /* Added margin to push buttons down */
}

.visuals, .visuals-freeplay, .visuals-loadgame, .visuals-exit, .visuals-leaderboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* Position the visuals higher */
    overflow: hidden; /* Ensure visuals do not exceed button boundaries */
    height: 60px; /* Adjust height to fit within button */
    position: relative;
}

.pacman {
    transform: rotate(45deg);
    height: 60px; /* Adjust size as needed */
}

.ai-gaming {
    transform: rotate(35deg);
    height: 60px; /* Adjust size as needed */
    position: absolute;
    right: 0;
}

.home {
    height: 50px; /* Adjust size as needed */
}

.street {
    height: 50px; /* Adjust size as needed */
}

.puzzle {
    height: 50px; /* Adjust size as needed */
}

.floppy-disk {
    height: 50px; /* Adjust size as needed */
}

.logout {
    height: 50px; /* Adjust size as needed */
}

.leaderboard {
    height: 50px; /* Adjust size as needed */
}